@charset 'UTF-8';

:root {
    --cor1: #00000071;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: Calibri, Arial, Helvetica, sans-serif;
}

header {
    position: relative;
    background-color: black;
    height: 200px;
    padding: 30px 0px;
    text-align: center;
    color: white;
}

section#titulo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

header h1 {
    /* text-transform: uppercase; *//* -> transforma todas as letras em maiúsculas */
    font-variant: small-caps; /* -> transforma todas as letras em maiúsculas, modificando apenas o tamanho */
    font-size: 4em;
}

header p {
    font-size: 1.2em;
}

header a, footer a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding: 10vh 0px 10vh 30px;
    line-height: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    /* position: relative; */
    background-color: black;
    color: white;
    /* height: 500px; */
}

section.imagem > p {
    /* position: absolute; */
    background-color: var(--cor1);
    /* left: 5%; */
    /* top: 50%; */
    /* transform: translate(0%, -50%); */
}

section#img1 {
    background: url('../imgs/background001.jpg') center center no-repeat fixed;
    background-size: cover;
}

section#img2 {
    background: url('../imgs/background002.jpg') center center no-repeat fixed;
    background-size: cover;
}

footer {
    background-color: black;
    padding: 10px 0px;
    text-align: center;
    color: white;
}