@charset "UTF-8";

/* 
    Typical Device Breakpoints

    - Telas pequenas: até 600px; 
    - Celulares: 600px - 768px;
    - Tablets: 768px - 992px;
    - Desktops: 992px - 1200px;
    - Telas grandes: acima de 1200px.
*/

@media screen and (min-width: 768px) {
    #icone-menu {
        display: none;
    }

    menu {
        display: block;
    }

    menu ul {
        text-align: center;
    }

    menu li {
        display: inline-block;
    }

    menu a {
        width: 100px;
        padding: 7px 20px;
        border-radius: 5px 5px 0px 0px;
    }

    main {
        max-width: 768px;
    }
}